* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #C3C3C3;
  color: #333;
  padding: 20px;
}

header {
  background: linear-gradient(#673AB7, #2196F3);;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1.8px 2px #000000;
}

header h1 {
  margin-bottom: 10px
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

nav button {
  background: #fff;
  color: #2575F;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

nav button:hover {
  background: #f0f0f0;
  transform: translateY(-3px);
}

section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab {
    background: #C3C3C3;
    box-shadow: 0 2px 8px #2A2A2A;
  }

  .tab button {
    background: #fff;
    color: #2575F;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  .tab button:hover {
    background: #f0f0f0;
    transform: translateY(-3px);
  }

  .about-section {
    margin-bottom: 20px;
    background: #F1F1F1;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 0.5px 0.5px #000000;
  }

  .about-section h3 {
    margin-bottom: 10px;
    color: #333;
  }

  .about-section p {
    margin: 0;
    color: #666;
  }

    .about-section a {
        color: #3B42FC;
        text-decoration: none;
        font-weight: bold;
    }